<html>
	<head>
		<title>TriquiWeb</title>
	</head>
	<body>
       
		<form action="/rival">
            <p>ingresa nombre</p>
			<input type="text" name="Nombre" />
			<input type="submit" value="Acceder gratuitamente" />
		</form>
	</body>
</html>
