<html>
	<head>
		<title>TriquiWeb</title>
	</head>
	<body>
		<form action="/rival">
			<center><h1>TRIQUIWEB</h1></center>
			<table align="center">
				<tr>
					<td>
						<p>Ingresa tú nombre:</p>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" name="Nombre" maxlength="10" required />
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="Acceder gratuitamente" />
					</td>
				</tr>
			</table>
			<center><h3>TriquiWeb, el mejor juego on-line del universo conocido</h3></center>
		</form>
	</body>
</html>
