<html>
	<head/>
	<body>
		<title>Trique</title>
		<h1>Nestor:  Selecciona Rival !!!</h1>
		<form action = "/tablero">
			<input type="submit" id="rival_pc" name="rival_pc" value="Computador">
		</form>
	</body>
<html>
