<html>
	<head>
<style>
td { border:1px solid black}
</style>
</head>

	<body>
		<h1><%=@@nombre%> vs Computador</h1>
<table style="border:1px solid black">
	<tr><td><a href="#">X</a><a href="#">X</a><a href="#">X</a></td></tr>
	<tr><td><a href="#">X</a><a href="#">X</a><a href="#">X</a></td></tr>
	<tr><td><a href="#">X</a><a href="#">X</a><a href="#">X</a></td></tr>
</table>
		
	</body>
<html>
